@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@0,400;0,800;1,700&family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --color-body: #f4f4f4;
    --color-heading: #eef3db;
    --color-base: #3C2A21;
    --color-base2: #1A120B;
    --color-brand: #D5CEA3;
    --color-brand2: #E5E5CB;
    --sidebar-width: 240px;
    --font-base: "Roboto";
}


body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

.text-brand {
    color: var(--color-brand);
}

.bg-base {
    background-color: var(--color-base);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255, 0.1);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--color-brand);
}

.iconbox {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-brand);
    color: var(--color-base);
}



/* navbars ni diri */
.navbar {
    background-color: var(--color-base);
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link:hover {
    color: var(--color-brand);
}

.navbar .nav-link.active {
    color: var(--color-brand);
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidebar-width);
        background: linear-gradient(rgb(60, 42, 33, 0.8), rgb(60, 42, 33, 0.8)), url(../images/brand-yury2.jpg);
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img {
        border: 8px solid var(--color-brand);
    }


    #content-wrapper {
        padding-left: var(--sidebar-width);
    }
}


.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

.link-custom {
    font-weight: 700;
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}


/*para nis card to make it symmetrical*/

.card-custom {
    height: 100%; 
    overflow: hidden; 
  }

.review {
    height: 100%; 
    overflow: hidden; 
}
 
.service {
    height: 100%; 
    overflow: hidden; 
}

.about {
    height: 100%;
    overflow: hidden;
}









.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}

/* contacts */
#contact .form-control {
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
}

#contact .form-control:focus {
    border-color: var(--color-brand);
    box-shadow: none;
}

#contact .form-control::placeholder {
    color: var(--color-body);
}

#contact input.form-control {
    height: 44px;
}




.social-icons {

}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 24px;
}




/* animation*/


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.floating-image {
    animation: float 3s ease-in-out infinite;
  }

  .floating-text {
    animation: float 3s ease-in-out infinite;
  }


  


  @keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.text-brand-home {
    animation: float 6s ease-in-out infinite;
}
  
  
  
  
  
/* skills var*/
.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
  }
  
  .skills .progress .skill {
    padding: 10px 0;
    margin: 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
  
  .skills .progress .skill .val {
    float: right;
    font-style: normal;
  }
  
  .skills .progress-bar-wrap {
   
  }
  
  .skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
   
  }




  .title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }
  
  .title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  .title-word-4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
  }
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
  

  
  
  .title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 1.0vw;
    text-transform: uppercase;
  }




  /*text anim */

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  

  h3.anitext {
    white-space: nowrap;
    overflow: hidden; 
    border-right: 2px solid #ffffff;
    animation: typing 2.5s steps(30) infinite alternate;
  }
  

  h3.anitext::after {
    content: " "; 
    animation: blink-caret 0.7s steps(1) infinite;
  }
  

  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #333;
    }
  }


  .spinner-wrapper {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 3s;
  }

  .spinner-border {
    height: 60px;
    width: 60px;

  }


  
